[submodule "pack/local/start/nginx.vim"]
	path = pack/local/start/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "pack/local/start/supertab"]
	path = pack/local/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/local/start/tabline.vim"]
	path = pack/local/start/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "pack/local/start/taglist-plus"]
	path = pack/local/start/taglist-plus
	url = https://github.com/vim-scripts/taglist-plus.git
[submodule "pack/local/start/The-NERD-Commenter"]
	path = pack/local/start/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "pack/local/start/vim-airline"]
	path = pack/local/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "pack/local/start/vim-template"]
	path = pack/local/start/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "pack/local/opt/haproxy.vim"]
	path = pack/local/opt/haproxy.vim
	url = https://github.com/sclo/haproxy.vim.git
[submodule "pack/local/opt/open-terminal-filemanager"]
	path = pack/local/opt/open-terminal-filemanager
	url = https://github.com/vim-scripts/open-terminal-filemanager.git
[submodule "pack/local/start/textformat.vim"]
	path = pack/local/start/textformat.vim
	url = https://github.com/jozip/textformat.vim.git
[submodule "pack/local/start/vim-terraform"]
	path = pack/local/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/local/start/surround"]
	path = pack/local/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/local/start/nerdtree"]
	path = pack/local/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/local/start/vim-devicons"]
	path = pack/local/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "pack/local/start/nerdtree-git-plugin"]
	path = pack/local/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/local/start/vim-gitgutter"]
	path = pack/local/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/local/start/vim-fugitive"]
	path = pack/local/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/local/start/tlib_vim"]
	path = pack/local/start/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
