[submodule "pack/local/start/nginx.vim"]
	path = pack/local/start/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "pack/local/start/supertab"]
	path = pack/local/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/local/start/tabline.vim"]
	path = pack/local/start/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "pack/local/start/taglist-plus"]
	path = pack/local/start/taglist-plus
	url = https://github.com/vim-scripts/taglist-plus.git
[submodule "pack/local/start/The-NERD-Commenter"]
	path = pack/local/start/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "pack/local/start/vim-airline"]
	path = pack/local/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "pack/local/start/vim-template"]
	path = pack/local/start/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "pack/local/opt/haproxy.vim"]
	path = pack/local/opt/haproxy.vim
	url = https://github.com/sclo/haproxy.vim.git
[submodule "pack/local/opt/open-terminal-filemanager"]
	path = pack/local/opt/open-terminal-filemanager
	url = https://github.com/vim-scripts/open-terminal-filemanager.git
[submodule "pack/local/start/textformat.vim"]
	path = pack/local/start/textformat.vim
	url = https://github.com/jozip/textformat.vim.git
[submodule "pack/local/start/vim-terraform"]
	path = pack/local/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/local/start/nerdtree"]
	path = pack/local/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/local/start/nerdtree-git-plugin"]
	path = pack/local/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/local/start/vim-gitgutter"]
	path = pack/local/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/local/start/vim-fugitive"]
	path = pack/local/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/local/start/tlib_vim"]
	path = pack/local/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/local/opt/vim-tomorrow-theme"]
	path = pack/local/opt/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "pack/local/opt/freya"]
	path = pack/local/opt/freya
	url = https://github.com/jie-mei/freya.git
[submodule "pack/local/opt/inkpot"]
	path = pack/local/opt/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "pack/local/opt/moria"]
	path = pack/local/opt/moria
	url = https://github.com/vim-scripts/moria.git
[submodule "pack/local/opt/vim-obsidian"]
	path = pack/local/opt/vim-obsidian
	url = https://github.com/abra/vim-obsidian.git
[submodule "pack/local/start/vim-workspace"]
	path = pack/local/start/vim-workspace
	url = https://github.com/thaerkh/vim-workspace.git
[submodule "pack/local/start/vim-surround"]
	path = pack/local/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
